body {
    background-color: #8C0BA8;
}
.theme-color-purple {
    color: #8C0BA8;
}
.theme-color-green {
    color: #63A802;
}
.theme-head-font {
    font-family: 'Alfa Slab One', cursive;
}
.theme-main-font {
    font-family: 'Josefin Sans', sans-serif;
}
.bg-theme-purple {
    background-color: #8C0BA8;
}
.bg-theme-green {
    background-color: #63A802;
}
.nav-li-font-size {
    font-size: 18px;
}