body {
    background-color: #FFD23D;
}
.theme-color-orange {
    color: #DBB01F;
}
.theme-color-blue {
    color: #1F38DB;
}
.theme-head-font {
    font-family: 'Alfa Slab One', cursive;
}
.theme-main-font {
    font-family: 'Open Sans', sans-serif;
}
.bg-theme-orange {
    background-color: #DBB01F;
}
.bg-theme-blue {
    background-color: #1F38DB;
}
.bg-trans {
    background-color: transparent;
}
.nav-li-font-size {
    font-size: 18px;
}
.theme-main-cont-h1 {
    font-size: 50px;
}
.italic-font {
    font-style: italic;
}
.developer-span {
    background-color: #1F38DB;
    padding: 5px 15px;
    color: #FFD23D;
    font-size: 45px;
}
.developer-spacing {
    letter-spacing: 3px;
    word-spacing: 3px;
}
.developer-text-shadow {
    text-shadow: 0 0 3px #DBB01F;
}
